body {
  margin: 0;
  background: #f7f2f8;
  font-family: Arial, sans-serif;
}

.card {
  background: white;
  max-width: 400px;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
}

h1 {
  margin-bottom: 5px;
}

.fecha {
  color: #777;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

.boton {
  display: block;
  margin: 10px 0;
  padding: 12px;
  background: #c084fc;
  color: white;
  text-decoration: none;
  border-radius: 8px;
}

.hero {
  height: 100vh;
  background: url("portada.jpg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  text-align: center;
  color: white;
  animation: fadeIn 2s ease;
}

.hero-text h1 {
  font-size: 3em;
  margin: 0;
}

.hero-text h2 {
  font-size: 1.8em;
  margin-top: 10px;
}

.fade {
  animation: fadeIn 2s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.section {
  background: white;
  max-width: 420px;
  margin: 80px auto;
  padding: 40px 30px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 15px 30px rgba(0,0,0,0.06);
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease;
}

.section.visible {
  opacity: 1;
  transform: translateY(0);
}

.icono {
  width: 60px;
  margin-bottom: 15px;
}

#btn-musica {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #c084fc;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
